/*COLORS*/

$bg-sedan: hsl(31, 77%, 52%);
$bg-suv: hsl(184, 100%, 22%);
$bg-luxury: hsl(179, 100%, 13%);
$bg-body: hsl(0, 0%, 95%);
$heading-clr: hsl(0, 0%, 95%);
$paragraph-clr: hsla(0, 0%, 100%, 0.75);
$bg-button: hsl(0, 0%, 95%);
$bg-button-hover: hsl(0, 0%, 75%);

/*FONTS*/
$heading-font: 'Big Shoulders Display', cursive;
$paragraph-font: 'Lexend Deca', sans-serif;