@use './abstracts' as *;


body {
  display: grid;
  place-items: center;
  background: $bg-body;
  max-height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: auto;

  section {
    display: flex;
    justify-content: center;
    min-height: 30rem;

    div {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      position: relative;

      img {
        width: 65px;
      }
      h1 {
        font-family: $heading-font;
        color: $heading-clr;
        font-size: 3rem;
      }
      p {
        font-family: $paragraph-font;
        color: $paragraph-clr;
        max-width: 20rem;
      }
      button {
        width: 10rem;
        height: 3rem;
        border-radius: 50px;
        border: unset;
        background: $bg-button;

        &:hover {
          background: $bg-button-hover;
        }
      }
      .btn-sedans {
        color: $bg-sedan;
        font-family: $paragraph-font;
      }
      .btn-suvs {
        color: $bg-suv;
        font-family: $paragraph-font;
      }
      .btn-luxury {
        color: $bg-luxury;
        font-family: $paragraph-font;
      }
      
    }
    
  }
  .sedans {
    background: $bg-sedan;
  }
  .suvs {
    background: $bg-suv;
  }
  .luxury {
    background: $bg-luxury;
  }
}